body {
  background-color: black;
  margin: 0;
  padding: 0;
  display: inline;
}

.fun {
  border: orangered solid 2px;
}
.usernameC,
.tokenC,
.outputC,
.inputC {
  background-color: black;
  font-size: 12pt;
  color: darkred;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-width: 0;
  box-shadow: none;
  display: unset;
  -webkit-appearance: unset;
}

/* pseudo elements */
:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
